body{

    background: #87ceeb;
    font-family: monospace;
    margin-left: 20px;


}

#world{

 width:800px;
 height:450px;

 image-rendering: pixelated;

}

textarea{

 width:800px;
 height:150px;

}